#footer .content{
    /* background-color: cyan; */
    background-color: #222222;
    /* display: grid;
    grid-template-areas: 
    'box-1 box-2 box-2 box-3 box-3'; */
    display: flex;
    padding: 20px 7%;
    position: relative;
}
#footer .content:before{
    content: "";
    background: url("../img/footer-bg 2.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
#footer .content #box-1{
    /* grid-area: box-1; */
    flex-basis: 30%;
    padding-right: 25px;
    /* width: 400px; */
}
#footer .content #box-2{
    /* grid-area: box-2; */
    flex-basis: 15%;
    padding: 0px 25px;
}
#footer .content #box-3{
    /* grid-area: box-3; */
    flex-basis: 20%;
    padding-left: 0px 25px;
}
#footer .content #box-4{
    /* grid-area: box-4; */
    flex-basis: 35%;
    padding-left: 25px;
}
#footer .content #box-1 .social-links{
    margin-top: 20px;
    display: flex;
}
#footer .content #box-1 .social-links a.social-1{
    background-color: #3b5998;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px 7px 0px 0px;
    color: #eeeeee;
}
#footer .content #box-1 .social-links a.social-2{
    background-color: #02b0e8;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px 7px 0px 0px;
    color: #eeeeee;
}
#footer .content #box-1 .social-links a.social-3{
    background-color: #0072b1;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px 7px 0px 0px;
    color: #eeeeee;
}
#footer .content #box-1 .social-links a.social-4{
    background-color: #8134af;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px 7px 0px 0px;
    color: #eeeeee;
}
#footer .content #box-1 p{
    color: #666666;
}
#footer .content .box h5{
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.42857143;
    font-size: 14px;
    position: relative;
}
#footer .content .box h5:after{
    border: 1px solid #1F386B;
    background: #1F386B;
    bottom: -1px;
    content: "";
    height: 0.5px;
    left: 0;
    position: absolute;
    width: 50px;
}
#footer .content .box{
    margin-bottom: 30px;
}
#footer .content .box img{
    height: 50px;
}
#footer .content .box .useful-links, #footer .content .box .quick-contact{
    display: flex;
    flex-direction: column;
}
#footer .content .box .useful-links a{
    border-bottom: 1px dashed #404040;
    color: #404040;
    margin: 5px 0px;
    padding: 10px 0px 8px 15px;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
#footer .content .box .quick-contact a{
    border-bottom: 1px dashed #404040;
    color: #404040;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    line-height: 1.7;
    text-decoration: none;
}
#footer .content .box .useful-links a:hover, #footer .content .box .quick-contact a:hover{
    color: #666666;
}
#footer .footer-bottom{
    background-color: #333333;
}
#footer .footer-bottom p{
    padding: 20px 7%;
    margin: 0px;
    font-size: 12px;
}



@media screen and (max-width: 980px){
    #footer .content{
        flex-direction: column;
    }
    #footer .content #box-1 p{
        font-size: 14px;
    }
    #footer .footer-bottom p{
        font-size: 10px;
        padding: 10px 7%;
    }
}